springdoc:
  swagger-ui:
    path: "swagger-ui"

management:
  server:
    port: 8080


app:
  scheduler:
    interval: 10000
    link-to-be-checked-interval: 600000
  github:
    url: "https://api.github.com"
  stackoverflow:
    url: "https://api.stackexchange.com/2.3"
  bot:
    url: "http://localhost:8083"
  databaseAccessType: "jpa"

spring:
  datasource:
    url: ${DB_URL}
    password: ${DB_PASSWORD}
    username: ${DB_USERNAME}
